# Dependencies
/node_modules

# Build files
/public/build
/public/hot

# Storage
/public/storage
/storage/*.key
/storage/pail

# Environment
.env
.env.backup
.env.production
/auth.json

# IDE
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json

# Testing
/.phpunit.cache
.phpunit.result.cache

# Logs
*.log
npm-debug.log
yarn-error.log

# Legacy
Homestead.json
Homestead.yaml

# Database (SQLite)
*.sqlite
*.sqlite3
*.db
